/* line 1, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.message {
  padding: 1.2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.4 rem;
  margin-bottom: 1rem;
  color: white; }
  /* line 9, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
  .message.success {
    background-color: #28a745; }
  /* line 13, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
  .message.error {
    background-color: #d13443; }

/* line 18, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.navbar {
  background-color: #284080; }
