/* line 3, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.message {
  padding: 1.2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.4 rem;
  margin-bottom: 1rem;
  color: #fff; }
  /* line 11, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
  .message.success {
    background-color: #28a745; }
  /* line 15, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
  .message.error {
    background-color: #d13443; }

/* line 20, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.navbar {
  background-color: #284080; }

/* line 24, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.navbar-brand img {
  height: 70px;
  width: 70px; }

/* line 29, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.register_form_phone_container {
  display: flex;
  flex-direction: row; }
  /* line 33, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
  .register_form_phone_container :first-child {
    width: auto; }

/* line 38, c:/users/r.hubbuck/desktop/test/static/portal/style.scss */
.btn_primary {
  background-color: #cc9c4a;
  color: #fff; }
