{% extends "base.html" %}

{% block page_content %}

{% for message in messages%}
<div class="message {{message.tags}}">
    {{message}}
</div>
{% endfor %}

<div class="container">
    <div class="shadow p-4 mb-5 bg-body rounded w-50 mx-auto mt-5">
        <h1>Forgot Your Password?</h1>
        <p>Enter your email address below to recieve a reset link.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>

{% endblock page_content %}