{% extends "base.html" %}

{% block page_content %}

{% for message in messages%}
<div class="message {{message.tags}}">
    {{message}}
</div>
{% endfor %}

<div class="container">
    <div class="shadow p-4 mb-5 bg-body rounded w-75 mx-auto mt-5">
        <h1>Sign Up</h1>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="my-4">
                {{ form.username.label_tag }}
                <br/>
                {{ form.username }}
                {{ form.username.help_text }}
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="my-4">
                {{ form.email.label_tag }}
                <br/>
                {{ form.email}}
                {{ form.email.help_text }}
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="my-4">
                {{ form.password1.label_tag }}
                <br/>
                {{ form.password1 }}
                {{ form.password1.help_text }}
                {% for error in form.password1.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="my-4">
                {{ form.password2.label_tag }}
                <br/>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="my-4">
                {{ form.phone.label_tag }}
                <br/>
                <div class="register_form_phone_container">
                    {{ form.phone }}
                </div>
                {% for error in form.phone.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>

{% endblock page_content %}